body{
    font-family: 'Poppins', sans-serif;
    background-color: #dfdfdf;
}

*{
    margin: 0;
    padding: 0;
}

/*   navigation start   */

#my-navigation{
    background: none;
    border: 0;
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 1;
}

#my-navigation .navbar-toggle{
    display: block;
    border: 0;
}

#my-navigation .navbar-toggle:hover{
    background: none;
    cursor: pointer;
}

#my-navigation .navbar-header{
    float: none;
}

#my-navigation .navbar-header .navbar-brand{
    color: #fff;
}

#my-navigation .navbar-header a span{
    font-weight: 100;
}

#my-navigation .navbar-right{
    float: left !important; 
}

#my-navigation .icon-bar-left{
    float: left;
    
}

#my-navigation .icon-bar{
    width: 17px;
    background-color: #fff;
}

#my-navigation .icon-right{
    float: right;
    position: relative;
    top: -3px;
    padding-left: 10px;
    color:#fff;
}

#my-navigation ul li{
    list-style: none;
}

#my-navigation ul li a{
    padding-left: 40px;
    font-size: 25px;
    color: #fff;
}

/*   navigation End   */

/*   Background Carousel image start  */

.my-container{
  padding: 0;
  color: #fff;
}

.carousel .item{
  background-image: url(../img/slide01.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.carousel .item-1{
    background-image: url(../img/slide02.jpg);
}

.carousel .item-2{
    background-image: url(../img/slide03.jpg);
}

.carousel .item-3{
    background-image: url(../img/slide04.jpg);
}

.carousel .item-4{
    background-image: url(../img/slide05.jpg);
}

/*   Background Carousel image End  */
   
/*   Banner start   */

.banner-text{
    text-align: center;
    width: 40%;
    position: absolute;
    top: 30%;
    left: 33%;
}

.banner-text p{
    font-weight: 100;
    letter-spacing: 4px;
    font-size: 13px;
    padding-bottom: 15px;
}

.banner-text p span{
    font-weight: 200;
}

.banner-text hr{
    width: 50%;
    margin: 0 auto;
}

.banner-text h1{
    font-size: 100px;
    font-weight: 300;
}

/*-  Banner End   */

/*  two section start   */

.two-section{
    padding: 80px 0;
    width: 75%;
    margin: 0 auto;
}

.two-section img{
    width: 100%;
}

.two-section .box-left, .two-section .box-right{
    background-color: #fff;
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

.two-section .box-right{
    margin-left: 5%;
}


.two-section .box-left h6, .two-section .box-right h6{
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 12px;
    margin-top: 40px;
    color: gray;
}

.two-section .box-left hr, .two-section .box-right hr{
    width: 45%;
    background-color: gray; 
    height: 0.4px;
    margin: 0 auto;
}

.two-section .box-left h3, .two-section .box-right h3{
    margin-top: 8px;
    font-size: 25px;
    font-weight: 300;
    color: black;
    margin-bottom: 25px;
}

.two-section .box-left p, .two-section .box-right p{
    font-size: 13px;
    font-weight: 200;
    text-align: left;
    line-height: 22px;
    color: gray;
    padding: 0 35px;
}

.two-section .box-left .btn-default, .two-section .box-right .btn-default{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 8px 22px;
    font-size: 12px;
}

/*  two section end   */

/*  Full width section start  */

.full-width{
    background-image: url(../img/bg.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    padding: 55px 0;
    text-align: center;
    color: #fff;
}

.full-width p, .fore-image-section p{
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: 100;
}

.full-width hr, .fore-image-section hr{
    width: 48%;
    margin: 0 auto;
}

.full-width h2, .fore-image-section h2{
    font-size: 24px;
    font-weight: 300;
    margin-top: 15px;
}

/*  Full width section End  */

/*   fore images section start  */

.fore-image-section{
    width: 75%;
    padding: 60px 0;
}

.fore-image-section h2{
    margin-bottom: 50px;
}

.fore-image-section img{
    width: 100%;
    border: 7px solid #fff;
    margin-bottom: 50px;
}

.fore-image-section .left{
    margin-left: 5%;
}

/*   fore images section End  */

/*  footer section start  */

.footer{
    background-color: black;
    color: gray;
    padding: 60px 0;
}

.footer a span{
    font-size: 22px;
    padding-left: 10px;
    margin-bottom: 24px;
    color: gray;
}

.footer p{
    font-size: 12px;
    font-weight: 300;
}

.footer p span{
    font-size: 12px;
}


/*  footer section end  */

